<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <?xml-stylesheet href="revtree/css/revtree.css" type="text/css"?>
  <head>
    <!-- This document conforms to XHTML + SVG + MathML
         However, a tiny issue in Trac (#4614) prevents the validation of
         the RevtreePlugin documents.
          -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title</title>

    <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function($) {
      $("#warning").hide();
      $("#nav-changeset").hide();
      $("body h1").addClass("blink");

      $(".loading-indicator").ajaxStart(function() { $(this).show(); })
                             .ajaxStop(function() { $(this).hide(); });

      /* Disable TAB navigation */
      $(document).keydown(function(e) {
        if (e.keyCode == 9 || e.which == 9) {
          if(!$(e.target).hasClass("allowTab")) {
            return false;
          }
        }

        return True;
      });
    });
    // ]]>
    </script>
  </head>
  <body>
    <h1>$title</h1>
    <!-- REMARK: the span below is used to compute font size -->
    <span id="metrics" class="metrics"></span>
    <div class="loading-indicator">
      <span class="animated">${_("Updating...")}</span>
    </div>
    <div id="tooltip_connect" class="hidden"></div>
    <div id="info_esc" class="indicator-esc">
        <span class="animated">Press ESC to exit from changeset path selection mode</span>
    </div>
    <div id="tooltip" class="hidden">
      <div id="tooltip_title">Changeset [<span id="tooltip_url"></span>]
        <span id="tooltip_clause"></span>
      </div>
      <div id="tooltip_body"></div>
    </div>
    <div id="tools" class="noprint">
        <div id="query" class="query">
          <form id="query_form" method="post" action="${href.revtree('query')}"
                py:with="field_names = sorted(fields.keys())">
            <fieldset id="filters" name="query_filters" class="${'collapsed' if query_filters=='true' else 'uncollapsed'}">
              <legend class="foldable">Filters</legend>
              <table id="table_filters" summary="Query filters">
                <tbody py:for="clause_num, constraints in enumerate(clauses)"
                       py:with="clause_pre = '%d_' % clause_num">
                  <tr style="${'display: none' if clause_num == 0 else None}">
                    <td>
                      <div class="trac-clause-lsep">&nbsp;<hr /></div>
                      <div class="trac-clause-msep">Or</div>
                      <div class="trac-clause-rsep">&nbsp;<hr /></div>
                    </td>
                  </tr>
                  <tr class="trash">
                    <td class="${'trash_offset' if clause_num == 0 else ''}">
                      <div class="inlinebuttons">
                        <input type="button" onclick="removeClause(this);" title="${_('Delete clause')}" class="fa fa-12x" value="&#xf1f8;"></input>
                      </div>
                    </td>
                  </tr>
                  <tr><td class="trac-clause">
                    <table class="trac-clause">
                      <tbody py:for="field_name in field_names" py:if="field_name in constraints"
                             py:with="field = field_name; n_field_name = clause_pre + field_name;
                                      constraint = constraints[field_name];">
                        <tr py:for="constraint_idx, constraint_value in enumerate(constraint)"
                            class="${field_name}">
                          <td>
                            <div class="inlinebuttons">
                              <input type="submit" value="&ndash;" name="rm_filter_${n_field_name}_${constraint_idx}"/>
                            </div>
                          </td>
                          <py:choose test="constraint_idx">
                            <py:when test="0">
                              <py:if test="field_name == 'deleted_branches'">
                                  <th scope="row"><label id="label_${n_field_name}">show deleted branch</label></th>
                              </py:if>
                              <py:if test="field_name != 'deleted_branches'">
                                  <th scope="row"><label id="label_${n_field_name}">$field_name</label></th>
                              </py:if>
                              <td class="filter">
                                  <select py:if="field_name == 'deleted_branches'" name="${n_field_name}">
                                    <option value="True"
                                        selected="${constraint_value == 'True' or None}">True
                                    </option>
                                    <option value="False"
                                        selected="${constraint_value == 'False' or None}">False
                                    </option>
                                  </select>

                                  <select py:if="field_name == 'author'" name="${n_field_name}">
                                      <option py:for="author in authors" value="${author if author else ''}"
                                          selected="${author == constraint_value or None}">${author if author else 'all'}</option>
                                  </select>

                                  <input py:if="field_name == 'branch'" type="text"
                                  id="${n_field_name}" name="${n_field_name}" value="${constraint_value}"></input>

                                  <select py:if="field_name == 'period'" name="${n_field_name}">
                                      <option py:for="period in periods" value="${period['value']}"
                                          selected="${period['value'] == constraint_value or None}">${period['name']}</option>
                                  </select>

                                  <py:if test="field_name == 'date'">
                                      <label>${_('From ')}</label>
                                      <input type="text" title="${_('Format: %(datehint)s', datehint=date_hint)}" size="${len(date_hint)}"
                                             name="${n_field_name}" class="datepicker" value="${constraint_value[0]}"/>
                                      <label>${_(' to ')}</label>
                                      <input type="text" title="${_('Format: %(datehint)s', datehint=date_hint)}" size="${len(date_hint)}"
                                             name="${n_field_name}" class="datepicker" value="${constraint_value[1]}"/>
                                  </py:if>

                                  <py:if test="field_name == 'revision'">
                                      <label>${_('From ')}</label>
                                      <select py:if="field_name == 'revision'" name="${n_field_name}">
                                          <option py:for="revision in revisions" value="${revision}"
                                              selected="${revision == constraint_value[0] or None}">${revision}</option>
                                      </select>
                                      <label>${_('up to ')}</label>
                                      <select py:if="field_name == 'revision'" name="${n_field_name}">
                                          <option py:for="revision in revisions" value="${revision}"
                                              selected="${revision == constraint_value[1] or None}">${revision}</option>
                                      </select>
                                  </py:if>
                              </td>
                            </py:when>
                            <py:otherwise><!--! not the first line of a multiline constraint -->
                              <th scope="row" colspan="1"><label>or</label></th>
                              <td class="filter">
                                  <select py:if="field_name == 'deleted_branches'" name="${n_field_name}">
                                    <option value="True"
                                        selected="${constraint_value == 'True' or None}">True
                                    </option>
                                    <option value="False"
                                        selected="${constraint_value == 'False' or None}">False
                                    </option>
                                  </select>

                                  <select py:if="field_name == 'author'" name="${n_field_name}">
                                      <option py:for="author in authors" value="${author if author else ''}"
                                          selected="${author == constraint_value or None}">${author if author else 'all'}</option>
                                  </select>

                                  <input py:if="field_name == 'branch'" type="text"
                                  id="${n_field_name}" name="${n_field_name}" value="${constraint_value}"/>

                                  <py:if test="field_name == 'date'">
                                      <label>${_('From ')}</label>
                                      <input type="text" title="${_('Format: %(datehint)s', datehint=date_hint)}" size="${len(date_hint)}"
                                             name="${n_field_name}" class="datepicker" value="${constraint_value[0]}"/>
                                      <label>${_(' to ')}</label>
                                      <input type="text" title="${_('Format: %(datehint)s', datehint=date_hint)}" size="${len(date_hint)}"
                                             name="${n_field_name}" class="datepicker" value="${constraint_value[1]}"/>
                                  </py:if>

                                  <select py:if="field_name == 'period'" name="${n_field_name}">
                                      <option py:for="period in periods" value="${period['value']}"
                                          selected="${period['value'] == constraint_value or None}">${period['name']}</option>
                                  </select>
                                  <py:if test="field_name == 'revision'">
                                      <label>${_('From ')}</label>
                                      <select py:if="field_name == 'revision'" name="${n_field_name}">
                                          <option py:for="revision in sorted(revisions, reverse=False)" value="${revision}"
                                              selected="${revision == constraint_value[0] or None}">${revision}</option>
                                      </select>
                                      <label>${_('up to ')}</label>
                                      <select py:if="field_name == 'revision'" name="${n_field_name}">
                                          <option py:for="revision in sorted(revisions, reverse=True)" value="${revision}"
                                              selected="${revision == constraint_value[1] or None}">${revision}</option>
                                      </select>
                                  </py:if>
                              </td>
                            </py:otherwise>
                          </py:choose>
                        </tr>
                      </tbody>

                      <tbody py:with="last_clause = clause_num == (len(clauses) or 1) - 1">
                        <tr class="actions">
                          <td class="and" colspan="2">
                            &nbsp;<label for="add_filter_${clause_num}">New rule</label>&nbsp;
                            <select name="add_filter_${clause_num}" id="add_filter_${clause_num}">
                              <option></option>
                              <option py:for="field_name in field_names" value="${field_name}">${fields[field_name]}</option>
                            </select>
                            <div class="inlinebuttons">
                              <input type="submit" name="add_${clause_num}" value="+" />
                            </div>
                          </td>
                          <td py:if="last_clause" class="or" colspan="2">
                            <label for="add_clause">New clause</label>
                            <select name="add_clause_${clause_num + 1}" id="add_clause">
                              <option></option>
                              <option py:for="field_name in field_names" value="${field_name}">${fields[field_name]}</option>
                            </select>
                            <div class="inlinebuttons">
                              <input type="submit" name="add_${clause_num + 1}" value="+" />
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td></tr>
                </tbody>
              </table>
            </fieldset>
            <fieldset id="options" name="query_options" class="${'collapsed' if query_options=='true' else 'uncollapsed'}">
              <legend class="foldable">Options</legend>
              <table summary="Query Options">
                <tbody>
                  <tr><td>Style:</td></tr>
                  <tr>
                    <td>
                     <input type="radio" id="compact" name="style" value="compact"
                             checked="${'checked' if style == 'compact' else None}"/>
                     <label for="compact">Compact</label>
                     <input type="radio" id="timeline" name="style" value="timeline"
                            checked="${'checked' if style == 'timeline' else None}"/>
                     <label for="timeline">TimeLine</label>
                    </td>
                  </tr>
                </tbody>
                <tbody>
                  <tr><td colspan="2"><div class="trac-clause-sep"><hr/></div></td></tr>
                </tbody>
              </table>
            </fieldset>
          </form>
        </div>
        <div id="toolbox" class="toolbox">
          <div id="submit" class="submit">
            <button class="fa" name="update" title="${_('Update')}" id="submit_filters"><span>&#xf021;</span></button>
            <button class="fa" name="reset" title="${_('Reset to default values')}" id="submit_reset"><span>&#xf00d;</span></button>
          </div>
          <div id="nav-changeset" class="nav-changeset">
            <button class="nav-dest" title="${_('Goto destination')} &gt;"
                    onclick="neorevtree.scroll_dest(event)"> </button>
            <button class="nav-src" title="${_('Goto source')} &lt;"
                    onclick="neorevtree.scroll_src(event)"> </button>
          </div>
          <div id="zoom" class="zoom">
            <button class="fa fa-11x zoom-in" title="${_('Zoom In (+)')}" onclick="neorevtree.zoom(1.05)"><span>&#xf00e;</span></button>
            <button class="fa fa-11x zoom-out" title="${_('Zoom Out (-)')}" onclick="neorevtree.zoom(0.95)"><span>&#xf010;</span></button>
          </div>
          <div id="scale" class="scale">
            <button class="fa fa-11x scale-in" title="${_('Scale In (q)')}" onclick="neorevtree.scale(1.20)"><span>&#xf160;</span></button>
            <button class="fa fa-11x scale-out" title="${_('Scale out (s)')}" onclick="neorevtree.scale(0.80)"><span>&#xf161;</span></button>
          </div>
        </div>
        <div id="svg_errormsg" class='svg_errormsg'></div>
    </div>
    <div id="svg" contextmenu="mymenu"></div>
    <script type="text/javascript" data-main="${href.chrome('revtree/js/main.js')}"
            charset="utf-8" src="${href.chrome('revtree/js/require-2.1.20/require.js')}"/>
  </body>
</html>
